.weatherInfo {
  padding-top: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  column-gap: 35px;
  align-items: center;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  line-height: 1.5;
  font-weight: 700;
  font-size: 35px;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feelsLikeBox {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.07em;
  padding-top: 10px;
}

.degreeColor {
  color: #3758cb;
  font-weight: 700;
  font-size: 40px;
}

.descriptionBox {
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.mainTitle {
  font-size: 35px;
}
