.weather {
  padding: 50px 0px;
}

.searchLine {
  display: flex;
  justify-content: center;
}

.formControl {
  padding: 8px 100px;
  margin-right: 20px;
  font-family: "Brygada 1918", serif;
  font-style: italic;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid rgb(172, 45, 172);
  background-color: rgb(241, 232, 250);
  outline-color: transparent;
}

.formControl::placeholder {
  background-color: rgb(241, 232, 250);
}

.btn {
  padding: 8px 55px;
  font-family: "Brygada 1918", serif;
  font-style: italic;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid rgb(172, 45, 172);
  background-color: rgb(241, 232, 250);
}

.btn:hover,
.btn:focus {
  background-color: rgb(189, 139, 236);
}

.formControl:hover,
.formControl:focus {
  border-color: rgb(172, 45, 172);
  font-family: "Brygada 1918", serif;
  font-style: italic;
}

.loader {
  width: 180px;
  height: 140px;
  display: block;
  margin: 110px auto;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
       #4cb1eb 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #43afea 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #47aae3 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px, #56a4f8 100%, transparent 0),
    linear-gradient(#43afea 50px, transparent 0);
  background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
  background-repeat: no-repeat;
  background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
  position: relative;
  box-sizing: border-box;
}

.loader::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 65px;
  width: 2px;
  height: 6px;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 0.6s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 25px 0 white, 50px 0 white, 75px 0 white, 100px 0 white,
      125px 0 white, 150px 0 white, 25px 0 white, 50px 0 white, 75px 0 white,
      100px 0 white, 125px 0 white, 150px 0 white;
  }
  50% {
    box-shadow: 25px 20px white, 50px 60px rgba(255, 255, 255, 0),
      75px 30px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0),
      125px 40px white, 150px 60px rgba(255, 255, 255, 0), 25px 20px white,
      50px 30px white, 75px 10px white, 100px 30px white,
      125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 25px 60px rgba(255, 255, 255, 0),
      50px 60px rgba(255, 255, 255, 0), 75px 50px rgba(255, 255, 255, 0),
      100px 70px rgba(255, 255, 255, 0), 125px 70px rgba(255, 255, 255, 0),
      150px 60px rgba(255, 255, 255, 0), 25px 80px rgba(255, 255, 255, 0),
      50px 80px rgba(255, 255, 255, 0), 75px 70px rgba(255, 255, 255, 0),
      100px 60px rgba(255, 255, 255, 0), 125px 30px rgba(255, 255, 255, 0),
      150px 30px rgba(255, 255, 255, 0);
  }
}
