.container {
  max-width: 768px;
  margin: 120px auto;
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  border: 1px solid #dadde1;
  background-color: rgb(190, 178, 178);
  background-image: linear-gradient(
      rgba(188, 228, 235, 0.725),
      rgba(188, 228, 235, 0.725)
    ),
    url(/src/img/blue-sky.jpg);
  animation: scrollBackground 60s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}
